{% extends ".base/base.html" %}

{% load static %}

{% block maincontent %} 

{% block navbar %}
    {% include "layout/navbar.html" %}
{% endblock %}

<section class="u-align-center u-clearfix u-image u-section-1" id="sec-38fb">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-text u-text-body-alt-color u-text-1">
          <span style="font-weight: 400;"> django</span>
      </h1>
      <h2 class="u-text u-text-white u-text-2">3.2.9 +&nbsp;</h2>
      <h4 class="u-text u-text-white u-text-3">A high-level Python Web framework that encourages rapid development and clean, pragmatic design.</h4>
      <a href="https://pypi.org/project/Django/" rel="nofollow" target="_blank" class="u-border-2 u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-white u-none u-radius-50 u-btn-1">
        <span class="u-icon"></span>&nbsp;Download
      </a>
    </div>
  </section>
  
{% endblock %}